.footer-main-wrap{
    background-color: #456276;
    padding: 0 50px;
}
.footer-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: #ffffff;
    padding: 30px;
}
.footer-links{
    text-align: right;
}
.footer-links a{
    display: inline-block;
    padding: 5px 10px;
}