.register-main-wrap{
    width: 100%;
    background-color: transparent;
    min-height: 400px;
    background: url("./../../images/bg.webp") no-repeat;
    background-position: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.formwrap{
    width: 100%;
    padding: 30px 20px;
    background-color: rgba(0,0,0,0.9);
    min-height: 400px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 100%;
    max-width: 600px;
    max-height: 653px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 0 4px #222222;
}
.form-content img{
    width: 100%;
    min-height: 610px;
    max-height: 650px;
    object-fit: cover;
}

.form-content form{
    min-height: 400px;
    padding: 20px;
      background-color: #ffffff;
}
.form-content form h1{
    margin: 20px auto 10px auto !important;
    font-weight: bold;
    font-size: 24px;
}
