.invoice-view-container-wrap{
    width: 100%;
    position: absolute;
    z-index: 50;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view-invoice-overlay-container{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
    color: #ffffff;
}